body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-box {
    width: 350px;
    background: rgba(0,0,0,0.7);
    padding: 25px;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    margin: 120px auto;
}

.google-btn {
    width: 100%;
    padding: 12px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
